/* Scss Document */

/* Brand Colors */
$ACblue: #54b8cd;
$AClogo: #67676e; 

/* Web Colors */
$text: #333;
$white: #fff;

/* Buttons */
$green: #38a33f;
$darkgreen: #24865a;

/* Bundles colors */
$bundleblue: #008ba4;
$discount: #e87b15;